<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/bootstrap.html' %}
    <title>{% block title %}🕵️{% endblock %}</title>
</head>

<body>

<div class="container">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            {% if current_table_name %}
            <a class="nav-link" href="{% url 'table_index' %}">Home</a>
            {% else %}
            <a class="nav-link active" href="#">Home</a>
            {% endif %}
        </li>
        {% if table_names %}
        {% for table_name in table_names %}
        <li class="nav-item">
            {% if table_name == current_table_name %}
            <a class="nav-link active" href="#">{{table_name}}</a>
            {% else %}
            <a class="nav-link" href="{% url 'table' table_name %}">{{table_name}}</a>
            {% endif %}
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    {% block content %}
    {% endblock %}
</div>
</body>

<footer>
    {% include 'common/jquery.html' %}
    {% block footer %}
    {% endblock %}
</footer>

</html>
