{% extends 'inspector_db_app/data_base.html' %}
{% block table_data %}
{% include 'common/table-style.html' %}
{% if column_names %}
<div class="table-wrap">
    <table class="table table-bordered">
        <caption style="caption-side: top;">{{table_title}}</caption>
        <thead class="thead-dark">
        <tr class="header">
            {% for column in column_names %}
            <th scope="col">{{column}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in records %}
        <tr>
            {% for v in row %}
            <td>{{v}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
{% block footer %}

{% endblock %}
