{% include "common/bootstrap.html" %}
<div class="container">
    {% if column_names %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                {% for column in column_names %}
                <th scope="col">{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in records %}
            <tr>
                {% for v in row %}
                <td>{{v}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>