{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        {% if table_names %}
        <div class="sidebar-heading">Tables</div>
        {% else %}
        <div class="sidebar-heading">No tables</div>
        {% endif %}
        <div class="list-group list-group-flush">
            {% if table_names %}
            {% for tn in table_names %}

            {% if tn == current_table_name %}
            <a class="list-group-item list-group-item-action active" id="current_table_name">{{tn}}</a>
            {% else %}
            <a href="{% url 'table' tn %}" class="list-group-item list-group-item-action bg-light">{{tn}}</a>
            {% endif %}

            {% endfor %}
            {% endif %}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Tables</button>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">>></span>
                        </div>
                        <input type="text" class="form-control" name="query" id="query_input">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="execute_query">Execute Query
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="text-muted" id="query_title">{{executed_query}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nav>
                        <ul class="pagination" id="table_rows_area"></ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div id="data_area">
                        {% block table_data %}
                        {% endblock %}
                    </div>
                    <div>
                        <div id="query_results_area"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /#page-content-wrapper -->

<!-- /#wrapper -->

{% endblock %}
{% block footer %}
<script type="text/javascript" src="{% static 'js/jquery.simplePagination.min.js' %}"></script>
<!--suppress HtmlUnknownAttribute -->
<script type="text/javascript" src="{% static 'js/paginate_table_rows.js' %}" id="paginate_table_rows"
        pages="{{number_of_pages}}" current_page="{{current_page}}" items_on_page="{{items_on_page}}"
        table_url="{{ request.path }}"></script>
<script type="text/javascript" src="{% static 'js/tables-toggle.js' %}"></script>

{% endblock %}